{% extends '::base.html.twig' %}

{% block body %}
    <article class="module width_full">
    <header><h3 class="tabs_involved">Tipo</h3>
    </header>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('tipo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tipo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tipo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</article>
{% endblock %}