<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}SEC - Panel de administración{% endblock %}</title>

        {% stylesheets 
        '@SECSolicitudesBundle/Resources/public/css/layout.css'

        %}
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %} 

        {% javascripts
            '@SECSolicitudesBundle/Resources/public/js/jquery-1.8.2.min.js'
            '@SECSolicitudesBundle/Resources/public/js/hideshow.js'
            '@SECSolicitudesBundle/Resources/public/js/jquery.tablesorter.min.js'
            '@SECSolicitudesBundle/Resources/public/js/jquery.equalHeight.js'
            
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        {% block js %}{% endblock %} 

        <script type="text/javascript">
        $(document).ready(function() 
        { 
          $(".tablesorter").tablesorter(); 
         } 
        );
        $(document).ready(function() {

        //When page loads...
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function() {

                $("ul.tabs li").removeClass("active"); //Remove any "active" class
                $(this).addClass("active"); //Add "active" class to selected tab
                $(".tab_content").hide(); //Hide all tab content

                var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                $(activeTab).fadeIn(); //Fade in the active ID content
                return false;
        });

});
            </script>
            <script type="text/javascript">
            $(function(){
                $('.column').equalHeight();
            });
                </script>

            </head>


            <body>

                <header id="header">
                    <hgroup>
                        <h1 class="site_title"><a href="{{ path('_homepage')}}">Entes de Control</a></h1>
                        <h2 class="section_title">Panel de Administración</h2><div class="btn_view_site"><a href="http://www.medialoot.com">View Site</a></div>
                    </hgroup>
                </header> <!-- end of header bar -->

                <section id="secondary_bar">
                    <div class="user">
                        {% if app.user %}
                            <p>{{ app.user.username }} (<a href="#">3 Messages</a>)</p>
                        <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
                        {% else %} 
                        <p><a href="{{ path('login') }}">Login</a></p>
                        {% endif %}
                    </div>
                        
                    <div class="breadcrumbs_container">
                        <article class="breadcrumbs"><a href="{{ path('_homepage') }}">Website Admin</a> 
                        {% block breadcrumbs %} {% endblock %}
                        
                        </article>
                    </div>
                        
                </section><!-- end of secondary bar -->

                <aside id="sidebar" class="column">
                    <!--
                    <form class="quick_search">
                        <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
                    </form>
                    
                    <hr/>
                    -->
                    <h3>Solicitudes</h3>
                    <ul class="toggle">
                        <li class="icn_new_article"><a href="{{ path('proceso_new') }}">Nuevo Proceso</a></li>
                        <!-- <li class="icn_edit_article"><a href="{{ path('proceso_list') }}">Edit Articles</a></li> -->
                        <li class="icn_categories"><a href="{{ path('proceso_list') }}">Lista de Procesos</a></li>
                        <li class="icn_tags"><a href="#">Vista Personalizada</a></li>
                    </ul>
                    <h3>Usuarios</h3>
                    <ul class="toggle">
                        <li class="icn_add_user"><a href="{{ path('user_new') }}">Nuevo Usuario</a></li>
                        <li class="icn_view_users"><a href="{{ path('admin_user') }}">Ver Usuarios</a></li>
                        <li class="icn_profile"><a href="#">Perfil</a></li>
                    </ul>
                    <!--
                    <h3>Entes de Control</h3>
                    <ul class="toggle">
                        <li class="icn_folder"><a href="{ path('entecontrol_new') }}">Nuevo Ente</a></li>
                        <li class="icn_photo"><a href="#">Gallery</a></li>
                        <li class="icn_audio"><a href="#">Audio</a></li>
                        <li class="icn_video"><a href="#">Video</a></li>
                    </ul>
                    -->
                    <h3>Par&aacute;metros</h3>
                    <ul class="toggle">
                        <li class="icn_settings"><a href="{{ path('entecontrol_new') }}">Ente de control</a></li>
                        <li class="icn_settings"><a href="{{ path('tipo') }}">Tipo</a></li>
                        <li class="icn_security"><a href="#">Security</a></li>
                        <li class="icn_jump_back"><a href="{{ path('logout') }}">Logout</a></li>
                    </ul>

                    <footer>
                        <hr />
                        <p><strong>Copyright &copy; 2013 - Pulsar IT</strong></p>
                        <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
                    </footer>
                </aside><!-- end of sidebar -->

                <section id="main" class="column">
                    
                    <!-- System Messages -->
                    {% block mensajes %}
                    
                        {% if app.session.hasFlash('success') %}
                            <h4 class="alert_success">
                            {{ app.session.flash('success') }}
                            </h4>
                        {% endif %}

                        {% if app.session.hasFlash('warning') %}
                            <h4 class="alert_warning">
                            {{ app.session.flash('warning') }}
                            </h4>
                        {% endif %}

                        {% if app.session.hasFlash('info') %}
                            <h4 class="alert_info">
                            {{ app.session.flash('info') }}
                            </h4>
                        {% endif %}

                        {% if app.session.hasFlash('error') %}
                                <h4 class="alert_error">
                                {{ app.session.flash('error') }}
                                </h4>
                        {% endif %}

                    {% endblock %}

                    {% block body %}{% endblock %}


                    <div class="spacer"></div>
                </section>


            </body>
</html>